.Posts{
    background-color: #1A1D23;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    .PostsContainer{
        width: 900px;
        margin-top: 20px;
       
    }
}